<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Statistics</title>
</head>
<body>
    <h1>Job Statistics</h1>
    <br>
    <button onclick="window.location.href='{{ url_for('menu') }}'">Back to Menu</button>
    <br>

    {% if img_data %}
        <h2>Number of Jobs</h2>
        <img src="data:image/png;base64,{{ img_data }}" alt="Jobs Applied by Month">

    {% else %}
        <p>No data available to display.</p>
    {% endif %}

    <br>
    <button onclick="window.location.href='{{ url_for('menu') }}'">Back to Menu</button>
</body>
</html>
